flow_150321-1.json
[{"id":"b8d47b54.0cf888","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"47ab7344.38964c","type":"amqp-server","host":"rabbit","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"useca":false,"ca":"","usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}","prefetch":false,"prefetchvalue":"1","prefetchack":false,"prefetchvalueack":"10"},{"id":"ed0054c9.1308e8","type":"ui_group","name":"temperatura","tab":"91ac5911.bc6e68","order":1,"disp":true,"width":"6","collapse":false},{"id":"c553ddfe.888c9","type":"ui_group","name":"humedad","tab":"91ac5911.bc6e68","order":2,"disp":true,"width":"6","collapse":false},{"id":"50f1127e.78e15c","type":"ui_group","name":"presion","tab":"91ac5911.bc6e68","order":3,"disp":true,"width":"6","collapse":false},{"id":"91ac5911.bc6e68","type":"ui_tab","name":"Monitoreo Hortofruticula","icon":"dashboard","disabled":false,"hidden":false},{"id":"f5b7bcf1.e7879","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9e039b03.f920b8","type":"amqp in","z":"b8d47b54.0cf888","name":"","topic":"","iotype":"4","ioname":"temperatura","server":"47ab7344.38964c","x":350,"y":260,"wires":[["8268ff7c.7a7ab","816e5356.47e0b"]]},{"id":"d34f79d1.681cf8","type":"debug","z":"b8d47b54.0cf888","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":640,"y":500,"wires":[]},{"id":"f83b5f6a.f6faf","type":"debug","z":"b8d47b54.0cf888","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1080,"y":500,"wires":[]},{"id":"3101fa35.ba9016","type":"debug","z":"b8d47b54.0cf888","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1540,"y":500,"wires":[]},{"id":"798cdf61.f2b07","type":"amqp in","z":"b8d47b54.0cf888","name":"","topic":"","iotype":"4","ioname":"humedad","server":"47ab7344.38964c","x":860,"y":260,"wires":[["ef8ed96.0584e28","f3ce599e.b03388"]]},{"id":"461a4e1d.e883d","type":"amqp in","z":"b8d47b54.0cf888","name":"","topic":"","iotype":"4","ioname":"presion","server":"47ab7344.38964c","x":1280,"y":260,"wires":[["3344af80.76b3","d844b8b7.ecec38"]]},{"id":"8268ff7c.7a7ab","type":"ui_chart","z":"b8d47b54.0cf888","name":"","group":"ed0054c9.1308e8","order":2,"width":6,"height":6,"label":"Historico Temperatura","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"c","dot":true,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff0000","#ff7f0e","#3f9d3f","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":640,"y":280,"wires":[[]]},{"id":"ef8ed96.0584e28","type":"ui_chart","z":"b8d47b54.0cf888","name":"","group":"c553ddfe.888c9","order":2,"width":6,"height":6,"label":"Historico Humedad","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1070,"y":280,"wires":[[]]},{"id":"3344af80.76b3","type":"ui_chart","z":"b8d47b54.0cf888","name":"","group":"50f1127e.78e15c","order":2,"width":6,"height":6,"label":"Historico Presion","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"monotone","nodata":"","dot":true,"ymin":"900","ymax":"1500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1490,"y":280,"wires":[[]]},{"id":"464042f8.b1fd4c","type":"ui_text","z":"b8d47b54.0cf888","group":"ed0054c9.1308e8","order":4,"width":6,"height":1,"name":"","label":"temperatura maxima(째C)","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":560,"wires":[]},{"id":"28537cbb.8703c4","type":"amqp in","z":"b8d47b54.0cf888","name":"","topic":"","iotype":"4","ioname":"max-temperatura","server":"47ab7344.38964c","x":410,"y":560,"wires":[["464042f8.b1fd4c","50c51442.cc473c"]]},{"id":"6d67c007.7c2ad","type":"ui_text","z":"b8d47b54.0cf888","group":"ed0054c9.1308e8","order":5,"width":6,"height":1,"name":"","label":"temperatura minima(째C)","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":660,"wires":[]},{"id":"85628b81.26c8e8","type":"amqp in","z":"b8d47b54.0cf888","name":"","topic":"","iotype":"4","ioname":"min-temperatura","server":"47ab7344.38964c","x":400,"y":660,"wires":[["6d67c007.7c2ad","f7ca8711.47d328"]]},{"id":"487edb41.af4ae4","type":"ui_text","z":"b8d47b54.0cf888","group":"ed0054c9.1308e8","order":6,"width":6,"height":1,"name":"","label":"temperatura promedio(째C)","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":760,"wires":[]},{"id":"70970b7b.a5e334","type":"amqp in","z":"b8d47b54.0cf888","name":"","topic":"promedio-Temperatura","iotype":"4","ioname":"mean-temperatura","server":"47ab7344.38964c","x":410,"y":760,"wires":[["487edb41.af4ae4","71fc9108.765da"]]},{"id":"239ca037.c73c2","type":"ui_text","z":"b8d47b54.0cf888","group":"c553ddfe.888c9","order":4,"width":6,"height":1,"name":"","label":"humedad maxima(%)","format":"{{msg.payload}}","layout":"row-spread","x":1080,"y":560,"wires":[]},{"id":"8a15f7b2.b2d4e8","type":"amqp in","z":"b8d47b54.0cf888","name":"","topic":"","iotype":"4","ioname":"max-humedad","server":"47ab7344.38964c","x":860,"y":560,"wires":[["239ca037.c73c2","76a62032.cd123"]]},{"id":"b20b3c37.52736","type":"ui_text","z":"b8d47b54.0cf888","group":"c553ddfe.888c9","order":5,"width":6,"height":1,"name":"","label":"humedad minima(%)","format":"{{msg.payload}}","layout":"row-spread","x":1080,"y":660,"wires":[]},{"id":"e1af13b3.81d91","type":"amqp in","z":"b8d47b54.0cf888","name":"","topic":"","iotype":"4","ioname":"min-humedad","server":"47ab7344.38964c","x":860,"y":660,"wires":[["b20b3c37.52736","2731633c.9782ac"]]},{"id":"3e4744dc.883e1c","type":"ui_text","z":"b8d47b54.0cf888","group":"c553ddfe.888c9","order":6,"width":6,"height":1,"name":"","label":"humedad promedio(%)","format":"{{msg.payload}}","layout":"row-spread","x":1080,"y":760,"wires":[]},{"id":"eeef7262.1fa67","type":"amqp in","z":"b8d47b54.0cf888","name":"","topic":"","iotype":"4","ioname":"mean-humedad","server":"47ab7344.38964c","x":860,"y":760,"wires":[["3e4744dc.883e1c","bd1d570e.a7d998"]]},{"id":"7445cd4a.66e164","type":"ui_text","z":"b8d47b54.0cf888","group":"50f1127e.78e15c","order":4,"width":6,"height":1,"name":"","label":"presion maxima(hPa)","format":"{{msg.payload}}","layout":"row-spread","x":1540,"y":560,"wires":[]},{"id":"bf074a4b.9c6908","type":"amqp in","z":"b8d47b54.0cf888","name":"","topic":"","iotype":"4","ioname":"max-presion","server":"47ab7344.38964c","x":1290,"y":560,"wires":[["7445cd4a.66e164","c8ddc22f.4633d"]]},{"id":"7447c37e.95fc1c","type":"ui_text","z":"b8d47b54.0cf888","group":"50f1127e.78e15c","order":5,"width":6,"height":1,"name":"","label":"presion minima(hPa)","format":"{{msg.payload}}","layout":"row-spread","x":1540,"y":660,"wires":[]},{"id":"5305ef31.37018","type":"amqp in","z":"b8d47b54.0cf888","name":"","topic":"","iotype":"4","ioname":"min-presion","server":"47ab7344.38964c","x":1290,"y":660,"wires":[["7447c37e.95fc1c","753aa34c.0d237c"]]},{"id":"677e9e81.11c45","type":"ui_text","z":"b8d47b54.0cf888","group":"50f1127e.78e15c","order":6,"width":6,"height":1,"name":"","label":"presion promedio(hPa)","format":"{{msg.payload}}","layout":"row-spread","x":1540,"y":760,"wires":[]},{"id":"e4d8ffa1.624f6","type":"amqp in","z":"b8d47b54.0cf888","name":"","topic":"","iotype":"4","ioname":"mean-presion","server":"47ab7344.38964c","x":1300,"y":760,"wires":[["677e9e81.11c45","4f15923a.ede10c"]]},{"id":"d844b8b7.ecec38","type":"ui_gauge","z":"b8d47b54.0cf888","name":"","group":"50f1127e.78e15c","order":1,"width":0,"height":0,"gtype":"gage","title":"Presion Actual","label":"hPa","format":"{{value}}","min":"900","max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1480,"y":240,"wires":[]},{"id":"f3ce599e.b03388","type":"ui_gauge","z":"b8d47b54.0cf888","name":"","group":"c553ddfe.888c9","order":1,"width":0,"height":0,"gtype":"gage","title":"Humedad Actual","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1060,"y":240,"wires":[]},{"id":"816e5356.47e0b","type":"ui_gauge","z":"b8d47b54.0cf888","name":"","group":"ed0054c9.1308e8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura Actual","label":"째","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":240,"wires":[]},{"id":"d17ffec1.e2eab","type":"amqp in","z":"b8d47b54.0cf888","name":"","topic":"","iotype":"4","ioname":"prediccion-temperatura","server":"47ab7344.38964c","x":430,"y":500,"wires":[["d34f79d1.681cf8","6a8ec951.c20ee8"]]},{"id":"f3478c04.c7079","type":"amqp in","z":"b8d47b54.0cf888","name":"","topic":"","iotype":"4","ioname":"prediccion-humedad","server":"47ab7344.38964c","x":880,"y":500,"wires":[["f83b5f6a.f6faf","6cd69145.e6872"]]},{"id":"cb5c79d2.fcd7e8","type":"amqp in","z":"b8d47b54.0cf888","name":"","topic":"","iotype":"4","ioname":"prediccion-presion","server":"47ab7344.38964c","x":1310,"y":500,"wires":[["3101fa35.ba9016","3344af80.76b3"]]},{"id":"aa8fa125.7e01f","type":"inject","z":"b8d47b54.0cf888","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temperatura,25,humedad,80,presion,1001","payloadType":"str","x":410,"y":1020,"wires":[["829f83c7.16386"]]},{"id":"829f83c7.16386","type":"amqp out","z":"b8d47b54.0cf888","name":"","routingkey":"","iotype":"4","ioname":"mensajes","server":"47ab7344.38964c","x":620,"y":1080,"wires":[]},{"id":"8f4cd74f.2a7628","type":"inject","z":"b8d47b54.0cf888","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temperatura,20,humedad,70,presion,1031","payloadType":"str","x":410,"y":1060,"wires":[["829f83c7.16386"]]},{"id":"28b8124b.adc7fe","type":"inject","z":"b8d47b54.0cf888","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temperatura,28,humedad,90,presion,1020","payloadType":"str","x":410,"y":1100,"wires":[["829f83c7.16386"]]},{"id":"be870833.28b678","type":"inject","z":"b8d47b54.0cf888","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temperatura,38,humedad,85,presion,1101","payloadType":"str","x":410,"y":1220,"wires":[["829f83c7.16386"]]},{"id":"8bbe614f.638b3","type":"debug","z":"b8d47b54.0cf888","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":580,"y":400,"wires":[]},{"id":"50c51442.cc473c","type":"debug","z":"b8d47b54.0cf888","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":610,"y":600,"wires":[]},{"id":"76a62032.cd123","type":"debug","z":"b8d47b54.0cf888","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1050,"y":600,"wires":[]},{"id":"c8ddc22f.4633d","type":"debug","z":"b8d47b54.0cf888","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"msg","x":1510,"y":600,"wires":[]},{"id":"f7ca8711.47d328","type":"debug","z":"b8d47b54.0cf888","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":610,"y":700,"wires":[]},{"id":"2731633c.9782ac","type":"debug","z":"b8d47b54.0cf888","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1050,"y":700,"wires":[]},{"id":"753aa34c.0d237c","type":"debug","z":"b8d47b54.0cf888","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1510,"y":700,"wires":[]},{"id":"4f15923a.ede10c","type":"debug","z":"b8d47b54.0cf888","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1510,"y":800,"wires":[]},{"id":"bd1d570e.a7d998","type":"debug","z":"b8d47b54.0cf888","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1050,"y":800,"wires":[]},{"id":"71fc9108.765da","type":"debug","z":"b8d47b54.0cf888","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":610,"y":800,"wires":[]},{"id":"6a8ec951.c20ee8","type":"function","z":"b8d47b54.0cf888","name":"","func":"var msg_out={topic:\"Prediccion\", payload:0, timestamp:new Date()}\nmsg_out.payload=msg.payload.split(\",\")[0]\nmsg_out.timestamp=new Date(msg.payload.split(\",\")[1]).getTime()\nreturn msg_out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":360,"wires":[["8268ff7c.7a7ab","8bbe614f.638b3"]]},{"id":"6cd69145.e6872","type":"function","z":"b8d47b54.0cf888","name":"","func":"var msg_out={topic:\"Prediccion\", payload:0, timestamp:0}\nmsg_out.payload=msg.payload.split(\",\")[0]\nmsg_out.timestamp=new Date(msg.payload.split(\",\")[1])\nreturn msg_out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":420,"wires":[["ef8ed96.0584e28","c0a7fc99.7a947"]]},{"id":"5768ad2.3851854","type":"inject","z":"b8d47b54.0cf888","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Prediccion","payload":"[]","payloadType":"json","x":870,"y":40,"wires":[["8268ff7c.7a7ab","ef8ed96.0584e28","3344af80.76b3","816e5356.47e0b","f3ce599e.b03388","d844b8b7.ecec38"]]},{"id":"fafbec7f.6e712","type":"function","z":"b8d47b54.0cf888","name":"","func":"var msg_out={payload:\"\"}\nvar x1=\"\"\nvar x2=\"\"\nvar x3=\"\"\nif (msg.payload.split(\",\")[0]==\"error\"){\n     x1=msg.payload.split(\",\")[1]\n}\nif (msg.payload.split(\",\")[0]==\"alerta\"){\n  x2=msg.payload.split(\",\")[1]\n    \n}\nmsg_out.payload=x3.concat(x1,\";\",x2)\nreturn msg_out\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":960,"wires":[["bb10c02d.05087","64119c56.d5e5a4"]]},{"id":"395db2e8.17763e","type":"debug","z":"b8d47b54.0cf888","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":1530,"y":1140,"wires":[]},{"id":"d5d0bcb9.30e0d","type":"amqp in","z":"b8d47b54.0cf888","name":"","topic":"","iotype":"4","ioname":"alerta-temperatura","server":"47ab7344.38964c","x":910,"y":960,"wires":[["fafbec7f.6e712"]]},{"id":"b974c6ea.a49e58","type":"ui_toast","z":"b8d47b54.0cf888","position":"dialog","displayTime":"20","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":1530,"y":1240,"wires":[[]]},{"id":"cb127c0f.95db8","type":"amqp in","z":"b8d47b54.0cf888","name":"","topic":"","iotype":"4","ioname":"alerta-humedad","server":"47ab7344.38964c","x":920,"y":1300,"wires":[["225077da.5a5ad8"]]},{"id":"bb10c02d.05087","type":"join","z":"b8d47b54.0cf888","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"/","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1250,"y":1120,"wires":[["395db2e8.17763e","76494d21.a4efb4"]]},{"id":"76494d21.a4efb4","type":"function","z":"b8d47b54.0cf888","name":"","func":"var msg_out={payload:\"\"}\nvar dat=msg.payload.split(\"/\")\nvar dat1= dat[0].split(\";\")\nvar dat2= dat[1].split(\";\")\nvar out=\"\"\nvar x1=\"\"\nvar x2=\"\"\nx1=x1.concat(\"<div> <h1 variant='danger'> PELIGRO </h1><li>\",dat1[0],\"</li><li>\",dat2[0],\"</li></div>\")\nx2=x2.concat(\"<div> <h1 variant='alert'> ALERTA </h1><li>\",dat1[1],\"</li><li>\",dat2[1],\"</li></div>\")\nmsg_out.payload= out.concat(x1,x2)\nreturn msg_out\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":1220,"wires":[["b974c6ea.a49e58","b3b59509.121098"]]},{"id":"64119c56.d5e5a4","type":"debug","z":"b8d47b54.0cf888","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":1320,"wires":[]},{"id":"225077da.5a5ad8","type":"function","z":"b8d47b54.0cf888","name":"","func":"var msg_out={payload:\"\"}\nvar x1=msg.payload.split(\";\")[0]\nvar x2=msg.payload.split(\";\")[1]\nvar x3=\"\"\nif (x1.split(\",\")[0]==\"error\"){\n    x1=x1.split(\",\")[1]\n}\nif (x2.split(\",\")[0]==\"alerta\"){\n    x2=x2.split(\",\")[1]\n    \n}\nmsg_out.payload=x3.concat(x1,\";\",x2)\nreturn msg_out\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":1300,"wires":[["bb10c02d.05087","64119c56.d5e5a4"]]},{"id":"c0a7fc99.7a947","type":"debug","z":"b8d47b54.0cf888","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1240,"y":400,"wires":[]},{"id":"b3b59509.121098","type":"notification-center","z":"b8d47b54.0cf888","name":"","x":1550,"y":1320,"wires":[[],[]]}]