graficar.json
[{"id":"5f26941b.7de8ec","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8b83483.5011ab8","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"temperatura","server":"47ab7344.38964c","x":350,"y":260,"wires":[["bbb66484.47d058","4ed530e0.3fc82","63e42b58.c99924"]]},{"id":"4a4efb2f.0e8874","type":"debug","z":"5f26941b.7de8ec","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":640,"y":500,"wires":[]},{"id":"759cc768.ca8988","type":"debug","z":"5f26941b.7de8ec","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1080,"y":500,"wires":[]},{"id":"cea16fde.30024","type":"debug","z":"5f26941b.7de8ec","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1520,"y":420,"wires":[]},{"id":"cba2c8aa.f46458","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"humedad","server":"47ab7344.38964c","x":840,"y":260,"wires":[["4e6efe9a.f94e5","b48cbb56.33d6b8"]]},{"id":"3086af57.5efcc","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"presion","server":"47ab7344.38964c","x":1280,"y":260,"wires":[["be431a97.79b1c8","959ed587.bcccc8"]]},{"id":"bbb66484.47d058","type":"ui_chart","z":"5f26941b.7de8ec","name":"","group":"ed0054c9.1308e8","order":2,"width":6,"height":6,"label":"Historico Temperatura","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"c","dot":true,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff0000","#ff7f0e","#3f9d3f","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":640,"y":280,"wires":[[]]},{"id":"4e6efe9a.f94e5","type":"ui_chart","z":"5f26941b.7de8ec","name":"","group":"c553ddfe.888c9","order":2,"width":6,"height":6,"label":"Historico Humedad","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1070,"y":280,"wires":[[]]},{"id":"be431a97.79b1c8","type":"ui_chart","z":"5f26941b.7de8ec","name":"","group":"50f1127e.78e15c","order":2,"width":6,"height":6,"label":"Historico Presion","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"monotone","nodata":"","dot":true,"ymin":"900","ymax":"1500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1490,"y":280,"wires":[[]]},{"id":"c15130fd.d7bff","type":"ui_text","z":"5f26941b.7de8ec","group":"ed0054c9.1308e8","order":4,"width":6,"height":1,"name":"","label":"temperatura maxima(째C)","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":560,"wires":[]},{"id":"4a7fb9b0.ab3d28","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"max-temperatura","server":"47ab7344.38964c","x":410,"y":560,"wires":[["c15130fd.d7bff"]]},{"id":"9cc0b65e.c57788","type":"ui_text","z":"5f26941b.7de8ec","group":"ed0054c9.1308e8","order":5,"width":6,"height":1,"name":"","label":"temperatura minima(째C)","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":620,"wires":[]},{"id":"9cd90c87.48c84","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"min-temperatura","server":"47ab7344.38964c","x":400,"y":620,"wires":[["9cc0b65e.c57788"]]},{"id":"22d8a5f4.dc4d6a","type":"ui_text","z":"5f26941b.7de8ec","group":"ed0054c9.1308e8","order":6,"width":6,"height":1,"name":"","label":"temperatura promedio(째C)","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":680,"wires":[]},{"id":"b8ce063.0f38af8","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"promedio-Temperatura","iotype":"4","ioname":"mean-temperatura","server":"47ab7344.38964c","x":410,"y":680,"wires":[["22d8a5f4.dc4d6a"]]},{"id":"52cbc324.083b2c","type":"ui_text","z":"5f26941b.7de8ec","group":"c553ddfe.888c9","order":4,"width":6,"height":1,"name":"","label":"humedad maxima(%)","format":"{{msg.payload}}","layout":"row-spread","x":1080,"y":560,"wires":[]},{"id":"b3cb05e1.e60fa8","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"max-humedad","server":"47ab7344.38964c","x":860,"y":560,"wires":[["52cbc324.083b2c"]]},{"id":"554d6369.465c9c","type":"ui_text","z":"5f26941b.7de8ec","group":"c553ddfe.888c9","order":5,"width":6,"height":1,"name":"","label":"humedad minima(%)","format":"{{msg.payload}}","layout":"row-spread","x":1080,"y":620,"wires":[]},{"id":"f821363d.562688","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"min-humedad","server":"47ab7344.38964c","x":860,"y":620,"wires":[["554d6369.465c9c"]]},{"id":"e9ada489.99a0f8","type":"ui_text","z":"5f26941b.7de8ec","group":"c553ddfe.888c9","order":6,"width":6,"height":1,"name":"","label":"humedad promedio(%)","format":"{{msg.payload}}","layout":"row-spread","x":1080,"y":680,"wires":[]},{"id":"3b2cf856.059738","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"mean-humedad","server":"47ab7344.38964c","x":860,"y":680,"wires":[["e9ada489.99a0f8"]]},{"id":"5710018c.16e33","type":"ui_text","z":"5f26941b.7de8ec","group":"50f1127e.78e15c","order":4,"width":6,"height":1,"name":"","label":"presion maxima(hPa)","format":"{{msg.payload}}","layout":"row-spread","x":1540,"y":560,"wires":[]},{"id":"cc6da2e7.b666c","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"max-presion","server":"47ab7344.38964c","x":1290,"y":560,"wires":[["5710018c.16e33"]]},{"id":"334a7151.3bf4ee","type":"ui_text","z":"5f26941b.7de8ec","group":"50f1127e.78e15c","order":5,"width":6,"height":1,"name":"","label":"presion minima(hPa)","format":"{{msg.payload}}","layout":"row-spread","x":1540,"y":620,"wires":[]},{"id":"21129dbd.495082","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"min-presion","server":"47ab7344.38964c","x":1290,"y":620,"wires":[["334a7151.3bf4ee"]]},{"id":"3913aa57.5d8b86","type":"ui_text","z":"5f26941b.7de8ec","group":"50f1127e.78e15c","order":6,"width":6,"height":1,"name":"","label":"presion promedio(hPa)","format":"{{msg.payload}}","layout":"row-spread","x":1540,"y":680,"wires":[]},{"id":"ced549ad.da0f48","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"mean-presion","server":"47ab7344.38964c","x":1300,"y":680,"wires":[["3913aa57.5d8b86"]]},{"id":"959ed587.bcccc8","type":"ui_gauge","z":"5f26941b.7de8ec","name":"","group":"50f1127e.78e15c","order":1,"width":0,"height":0,"gtype":"gage","title":"Presion Actual","label":"hPa","format":"{{value}}","min":"900","max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1480,"y":240,"wires":[]},{"id":"b48cbb56.33d6b8","type":"ui_gauge","z":"5f26941b.7de8ec","name":"","group":"c553ddfe.888c9","order":1,"width":0,"height":0,"gtype":"gage","title":"Humedad Actual","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1060,"y":240,"wires":[]},{"id":"4ed530e0.3fc82","type":"ui_gauge","z":"5f26941b.7de8ec","name":"","group":"ed0054c9.1308e8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura Actual","label":"째","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":240,"wires":[]},{"id":"63e42b58.c99924","type":"function","z":"5f26941b.7de8ec","name":"","func":"var msg_out={payload:\"<div> <i> Valores por encima de los normales </i></div>\"}\nif (msg.payload>=35){\n    return msg_out\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":160,"wires":[["df83d9b2.f89d88","c10c080c.7d09a8"]]},{"id":"df83d9b2.f89d88","type":"ui_toast","z":"5f26941b.7de8ec","position":"dialog","displayTime":"20","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":770,"y":180,"wires":[[]]},{"id":"c10c080c.7d09a8","type":"debug","z":"5f26941b.7de8ec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":120,"wires":[]},{"id":"23afdac.9879d26","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"prediccion-temperatura","server":"47ab7344.38964c","x":430,"y":500,"wires":[["4a4efb2f.0e8874"]]},{"id":"7fe5cf71.0ba7e","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"prediccion-humedad","server":"47ab7344.38964c","x":880,"y":500,"wires":[["759cc768.ca8988"]]},{"id":"c309927.b53657","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"prediccion-presion","server":"47ab7344.38964c","x":1290,"y":420,"wires":[["cea16fde.30024"]]},{"id":"bfa39ddd.bee7f","type":"inject","z":"5f26941b.7de8ec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temperatura,25,humedad,80,presion,1001","payloadType":"str","x":410,"y":780,"wires":[["71c433ca.4f786c"]]},{"id":"71c433ca.4f786c","type":"amqp out","z":"5f26941b.7de8ec","name":"","routingkey":"","iotype":"4","ioname":"mensajes","server":"47ab7344.38964c","x":620,"y":840,"wires":[]},{"id":"c73c5a12.efe9f8","type":"inject","z":"5f26941b.7de8ec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temperatura,20,humedad,70,presion,1031","payloadType":"str","x":410,"y":820,"wires":[["71c433ca.4f786c"]]},{"id":"34bed105.59084e","type":"inject","z":"5f26941b.7de8ec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temperatura,28,humedad,90,presion,1020","payloadType":"str","x":410,"y":860,"wires":[["71c433ca.4f786c"]]},{"id":"9ea36eda.a4949","type":"inject","z":"5f26941b.7de8ec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temperatura,38,humedad,85,presion,1101","payloadType":"str","x":410,"y":980,"wires":[["71c433ca.4f786c"]]},{"id":"47ab7344.38964c","type":"amqp-server","host":"rabbit","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"useca":false,"ca":"","usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}","prefetch":false,"prefetchvalue":"1","prefetchack":false,"prefetchvalueack":"10"},{"id":"ed0054c9.1308e8","type":"ui_group","name":"temperatura","tab":"91ac5911.bc6e68","order":1,"disp":true,"width":"6","collapse":false},{"id":"c553ddfe.888c9","type":"ui_group","name":"humedad","tab":"91ac5911.bc6e68","order":2,"disp":true,"width":"6","collapse":false},{"id":"50f1127e.78e15c","type":"ui_group","name":"presion","tab":"91ac5911.bc6e68","order":3,"disp":true,"width":"6","collapse":false},{"id":"91ac5911.bc6e68","type":"ui_tab","name":"Monitoreo Hortofruticula","icon":"dashboard","disabled":false,"hidden":false}]