graficar.json
[{"id":"5f26941b.7de8ec","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8b83483.5011ab8","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"temperatura","server":"47ab7344.38964c","x":130,"y":80,"wires":[["4a4efb2f.0e8874","bbb66484.47d058"]]},{"id":"4a4efb2f.0e8874","type":"debug","z":"5f26941b.7de8ec","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":340,"y":80,"wires":[]},{"id":"759cc768.ca8988","type":"debug","z":"5f26941b.7de8ec","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":760,"y":80,"wires":[]},{"id":"cea16fde.30024","type":"debug","z":"5f26941b.7de8ec","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1200,"y":80,"wires":[]},{"id":"cba2c8aa.f46458","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"humedad","server":"47ab7344.38964c","x":540,"y":80,"wires":[["759cc768.ca8988","4e6efe9a.f94e5"]]},{"id":"3086af57.5efcc","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"presion","server":"47ab7344.38964c","x":980,"y":80,"wires":[["cea16fde.30024","be431a97.79b1c8"]]},{"id":"bbb66484.47d058","type":"ui_chart","z":"5f26941b.7de8ec","name":"","group":"ed0054c9.1308e8","order":1,"width":6,"height":6,"label":"째C","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"c","dot":false,"ymin":"0","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#3f9d3f","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":330,"y":160,"wires":[[]]},{"id":"4e6efe9a.f94e5","type":"ui_chart","z":"5f26941b.7de8ec","name":"","group":"c553ddfe.888c9","order":1,"width":6,"height":6,"label":"%","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":730,"y":140,"wires":[[]]},{"id":"be431a97.79b1c8","type":"ui_chart","z":"5f26941b.7de8ec","name":"","group":"50f1127e.78e15c","order":1,"width":6,"height":6,"label":"hPa","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1170,"y":140,"wires":[[]]},{"id":"c15130fd.d7bff","type":"ui_text","z":"5f26941b.7de8ec","group":"ed0054c9.1308e8","order":2,"width":6,"height":1,"name":"","label":"temperatura maxima(째C)","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":200,"wires":[]},{"id":"4a7fb9b0.ab3d28","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"max-temperatura","server":"47ab7344.38964c","x":140,"y":200,"wires":[["c15130fd.d7bff"]]},{"id":"9cc0b65e.c57788","type":"ui_text","z":"5f26941b.7de8ec","group":"ed0054c9.1308e8","order":3,"width":6,"height":1,"name":"","label":"temperatura minima(째C)","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":260,"wires":[]},{"id":"9cd90c87.48c84","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"min-temperatura","server":"47ab7344.38964c","x":140,"y":260,"wires":[["9cc0b65e.c57788"]]},{"id":"22d8a5f4.dc4d6a","type":"ui_text","z":"5f26941b.7de8ec","group":"ed0054c9.1308e8","order":4,"width":6,"height":1,"name":"","label":"temperatura promedio(째C)","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":300,"wires":[]},{"id":"b8ce063.0f38af8","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"mean-temperatura","server":"47ab7344.38964c","x":140,"y":300,"wires":[["22d8a5f4.dc4d6a"]]},{"id":"52cbc324.083b2c","type":"ui_text","z":"5f26941b.7de8ec","group":"c553ddfe.888c9","order":2,"width":6,"height":1,"name":"","label":"humedad maxima(%)","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":200,"wires":[]},{"id":"b3cb05e1.e60fa8","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"max-humedad","server":"47ab7344.38964c","x":570,"y":200,"wires":[["52cbc324.083b2c"]]},{"id":"554d6369.465c9c","type":"ui_text","z":"5f26941b.7de8ec","group":"c553ddfe.888c9","order":3,"width":6,"height":1,"name":"","label":"humedad minima(%)","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":260,"wires":[]},{"id":"f821363d.562688","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"min-humedad","server":"47ab7344.38964c","x":580,"y":260,"wires":[["554d6369.465c9c"]]},{"id":"e9ada489.99a0f8","type":"ui_text","z":"5f26941b.7de8ec","group":"c553ddfe.888c9","order":4,"width":6,"height":1,"name":"","label":"humedad promedio(%)","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":300,"wires":[]},{"id":"3b2cf856.059738","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"mean-humedad","server":"47ab7344.38964c","x":570,"y":300,"wires":[["e9ada489.99a0f8"]]},{"id":"5710018c.16e33","type":"ui_text","z":"5f26941b.7de8ec","group":"50f1127e.78e15c","order":2,"width":6,"height":1,"name":"","label":"presion maxima(hPa)","format":"{{msg.payload}}","layout":"row-spread","x":1260,"y":200,"wires":[]},{"id":"cc6da2e7.b666c","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"max-presion","server":"47ab7344.38964c","x":999,"y":205,"wires":[["5710018c.16e33"]]},{"id":"334a7151.3bf4ee","type":"ui_text","z":"5f26941b.7de8ec","group":"50f1127e.78e15c","order":3,"width":6,"height":1,"name":"","label":"presion minima(hPa)","format":"{{msg.payload}}","layout":"row-spread","x":1249,"y":265,"wires":[]},{"id":"21129dbd.495082","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"min-presion","server":"47ab7344.38964c","x":999,"y":265,"wires":[["334a7151.3bf4ee"]]},{"id":"3913aa57.5d8b86","type":"ui_text","z":"5f26941b.7de8ec","group":"50f1127e.78e15c","order":4,"width":6,"height":1,"name":"","label":"presion promedio(hPa)","format":"{{msg.payload}}","layout":"row-spread","x":1249,"y":305,"wires":[]},{"id":"ced549ad.da0f48","type":"amqp in","z":"5f26941b.7de8ec","name":"","topic":"","iotype":"4","ioname":"mean-presion","server":"47ab7344.38964c","x":1009,"y":305,"wires":[["3913aa57.5d8b86"]]},{"id":"47ab7344.38964c","type":"amqp-server","host":"rabbit","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"useca":false,"ca":"","usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}","prefetch":false,"prefetchvalue":"1","prefetchack":false,"prefetchvalueack":"10"},{"id":"ed0054c9.1308e8","type":"ui_group","name":"temperatura","tab":"91ac5911.bc6e68","order":1,"disp":true,"width":"6","collapse":false},{"id":"c553ddfe.888c9","type":"ui_group","name":"humedad","tab":"91ac5911.bc6e68","order":2,"disp":true,"width":"6","collapse":false},{"id":"50f1127e.78e15c","type":"ui_group","name":"presion","tab":"91ac5911.bc6e68","order":3,"disp":true,"width":"6","collapse":false},{"id":"91ac5911.bc6e68","type":"ui_tab","name":"datos entrantes","icon":"dashboard","disabled":false,"hidden":false}]