inicial.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"211b693d.5bc776","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temperatura,12,humedad,70,presion,100","payloadType":"str","x":110,"y":20,"wires":[["74d533b6.d095cc"]]},{"id":"74d533b6.d095cc","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"1/sensor","qos":"","retain":"","broker":"15ba9eae.6b0e61","x":320,"y":20,"wires":[]},{"id":"aa6a7bbe.d3a0e8","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":420,"y":200,"wires":[]},{"id":"88c2e996.df83a8","type":"mqtt in","z":"f6f2187d.f17ca8","name":"","topic":"1/sensor","qos":"2","datatype":"auto","broker":"15ba9eae.6b0e61","x":100,"y":200,"wires":[["aa6a7bbe.d3a0e8"]]},{"id":"96d21850.0c2dc8","type":"ui_ui_control","z":"f6f2187d.f17ca8","name":"","events":"all","x":310,"y":340,"wires":[[]]},{"id":"3876eba9.603ac4","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temperatura,13,humedad,56,presion,1008.2","payloadType":"str","x":110,"y":75,"wires":[["833a7f83.910c4"]]},{"id":"833a7f83.910c4","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"1/sensor","qos":"","retain":"","broker":"15ba9eae.6b0e61","x":330,"y":75,"wires":[]},{"id":"ee3d16aa.f580e8","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temperatura,15,humedad,60,presion,998.8","payloadType":"str","x":90,"y":140,"wires":[["c4446552.c23118"]]},{"id":"c4446552.c23118","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"1/sensor","qos":"","retain":"","broker":"15ba9eae.6b0e61","x":340,"y":140,"wires":[]},{"id":"15ba9eae.6b0e61","type":"mqtt-broker","name":"","broker":"rabbit","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]