app/data/.flows.json.backup
[{"id":"b8d47b54.0cf888","type":"tab","label":"UI","disabled":false,"info":""},{"id":"10ec5fd0.3604c","type":"group","z":"b8d47b54.0cf888","name":"Simulacion Envio de Datos","style":{"label":true},"nodes":["aa8fa125.7e01f","8f4cd74f.2a7628","28b8124b.adc7fe","be870833.28b678","45a3d72e.001f28","829f83c7.16386"],"x":234,"y":899,"w":372,"h":302},{"id":"bcd01bb1.aec578","type":"group","z":"b8d47b54.0cf888","name":"Modulo de Alertas","style":{"label":true},"nodes":["fafbec7f.6e712","d5d0bcb9.30e0d","b974c6ea.a49e58","cb127c0f.95db8","bb10c02d.05087","76494d21.a4efb4","64119c56.d5e5a4","225077da.5a5ad8","9ff28d7f.c91ee","a7227959.ecba08","dc993c41.7fc3d"],"x":614,"y":899,"w":952,"h":342},{"id":"9b4b56a7.c602f8","type":"group","z":"b8d47b54.0cf888","name":"Temperatura","style":{"label":true},"nodes":["9e039b03.f920b8","8268ff7c.7a7ab","816e5356.47e0b","58c2c1b7.d19c6","45ce0380.58401c"],"x":228,"y":199,"w":524,"h":668},{"id":"82195ee7.28b04","type":"group","z":"b8d47b54.0cf888","name":"Presion","style":{"label":true},"nodes":["461a4e1d.e883d","3344af80.76b3","d844b8b7.ecec38","eb04686b.1f3678","41ee0085.0eff6"],"x":1308,"y":199,"w":504,"h":668},{"id":"663cd42f.e4367c","type":"group","z":"b8d47b54.0cf888","name":"Humedad","style":{"label":true},"nodes":["798cdf61.f2b07","ef8ed96.0584e28","f3ce599e.b03388","cbf2224f.86d3b","639d9182.b9664"],"x":788,"y":199,"w":484,"h":668},{"id":"58c2c1b7.d19c6","type":"group","z":"b8d47b54.0cf888","g":"9b4b56a7.c602f8","name":"Analitica Predictiva","style":{"label":true},"nodes":["d17ffec1.e2eab","6a8ec951.c20ee8","8bbe614f.638b3"],"x":254,"y":359,"w":472,"h":162},{"id":"45ce0380.58401c","type":"group","z":"b8d47b54.0cf888","g":"9b4b56a7.c602f8","name":"Analitica Descriptiva","style":{"label":true},"nodes":["28537cbb.8703c4","464042f8.b1fd4c","50c51442.cc473c","85628b81.26c8e8","6d67c007.7c2ad","f7ca8711.47d328","487edb41.af4ae4","71fc9108.765da","70970b7b.a5e334"],"x":254,"y":519,"w":472,"h":322},{"id":"cbf2224f.86d3b","type":"group","z":"b8d47b54.0cf888","g":"663cd42f.e4367c","name":"Analitica Descriptiva","style":{"label":true},"nodes":["239ca037.c73c2","8a15f7b2.b2d4e8","b20b3c37.52736","e1af13b3.81d91","3e4744dc.883e1c","eeef7262.1fa67","76a62032.cd123","2731633c.9782ac","bd1d570e.a7d998"],"x":814,"y":519,"w":432,"h":322},{"id":"639d9182.b9664","type":"group","z":"b8d47b54.0cf888","g":"663cd42f.e4367c","name":"Analitica Predictiva","style":{"label":true},"nodes":["f3478c04.c7079","6cd69145.e6872","c0a7fc99.7a947"],"x":814,"y":359,"w":432,"h":162},{"id":"eb04686b.1f3678","type":"group","z":"b8d47b54.0cf888","g":"82195ee7.28b04","name":"Analitica Descriptiva","style":{"label":true},"nodes":["7445cd4a.66e164","bf074a4b.9c6908","7447c37e.95fc1c","5305ef31.37018","677e9e81.11c45","e4d8ffa1.624f6","c8ddc22f.4633d","753aa34c.0d237c","4f15923a.ede10c"],"x":1334,"y":519,"w":452,"h":322},{"id":"41ee0085.0eff6","type":"group","z":"b8d47b54.0cf888","g":"82195ee7.28b04","name":"Analitica Predictiva","style":{"label":true},"nodes":["cb5c79d2.fcd7e8","49c19627.c906e8","bc4dc856.0b8e78"],"x":1334,"y":359,"w":452,"h":162},{"id":"47ab7344.38964c","type":"amqp-server","host":"rabbit","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"useca":false,"ca":"","usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}","prefetch":false,"prefetchvalue":"1","prefetchack":false,"prefetchvalueack":"10"},{"id":"ed0054c9.1308e8","type":"ui_group","name":"Temperatura","tab":"91ac5911.bc6e68","order":1,"disp":true,"width":"6","collapse":false},{"id":"c553ddfe.888c9","type":"ui_group","name":"Humedad","tab":"91ac5911.bc6e68","order":2,"disp":true,"width":"6","collapse":false},{"id":"50f1127e.78e15c","type":"ui_group","name":"Presion","tab":"91ac5911.bc6e68","order":3,"disp":true,"width":"6","collapse":false},{"id":"91ac5911.bc6e68","type":"ui_tab","name":"Monitoreo Hortofruticula","icon":"dashboard","disabled":false,"hidden":false},{"id":"f5b7bcf1.e7879","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Monitoreo Aguacate","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"71b4593b.a7ce88","type":"ui_group","name":"Footer","tab":"91ac5911.bc6e68","order":4,"disp":false,"width":"18","collapse":false},{"id":"9e039b03.f920b8","type":"amqp in","z":"b8d47b54.0cf888","g":"9b4b56a7.c602f8","name":"Temperatura","topic":"Temperatura","iotype":"4","ioname":"temperatura","server":"47ab7344.38964c","x":350,"y":260,"wires":[["8268ff7c.7a7ab","816e5356.47e0b"]]},{"id":"461a4e1d.e883d","type":"amqp in","z":"b8d47b54.0cf888","g":"82195ee7.28b04","name":"Presion","topic":"Presion","iotype":"4","ioname":"presion","server":"47ab7344.38964c","x":1420,"y":260,"wires":[["3344af80.76b3","d844b8b7.ecec38"]]},{"id":"8268ff7c.7a7ab","type":"ui_chart","z":"b8d47b54.0cf888","g":"9b4b56a7.c602f8","name":"","group":"ed0054c9.1308e8","order":2,"width":6,"height":6,"label":"Historico Temperatura","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"c","dot":true,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#ff0000","#ff7f0e","#3f9d3f","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":600,"y":280,"wires":[[]]},{"id":"3344af80.76b3","type":"ui_chart","z":"b8d47b54.0cf888","g":"82195ee7.28b04","name":"","group":"50f1127e.78e15c","order":2,"width":6,"height":6,"label":"Historico Presion","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":true,"ymin":"900","ymax":"1200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1630,"y":280,"wires":[[]]},{"id":"464042f8.b1fd4c","type":"ui_text","z":"b8d47b54.0cf888","g":"45ce0380.58401c","group":"ed0054c9.1308e8","order":4,"width":6,"height":1,"name":"","label":"Temperatura maxima","format":"{{msg.payload}}째C","layout":"row-spread","x":600,"y":560,"wires":[]},{"id":"28537cbb.8703c4","type":"amqp in","z":"b8d47b54.0cf888","g":"45ce0380.58401c","name":"","topic":"","iotype":"4","ioname":"max-temperatura","server":"47ab7344.38964c","x":370,"y":560,"wires":[["464042f8.b1fd4c","50c51442.cc473c"]]},{"id":"6d67c007.7c2ad","type":"ui_text","z":"b8d47b54.0cf888","g":"45ce0380.58401c","group":"ed0054c9.1308e8","order":5,"width":6,"height":1,"name":"","label":"Temperatura minima","format":"{{msg.payload}}째C","layout":"row-spread","x":600,"y":660,"wires":[]},{"id":"85628b81.26c8e8","type":"amqp in","z":"b8d47b54.0cf888","g":"45ce0380.58401c","name":"","topic":"","iotype":"4","ioname":"min-temperatura","server":"47ab7344.38964c","x":360,"y":660,"wires":[["6d67c007.7c2ad","f7ca8711.47d328"]]},{"id":"487edb41.af4ae4","type":"ui_text","z":"b8d47b54.0cf888","g":"45ce0380.58401c","group":"ed0054c9.1308e8","order":6,"width":6,"height":1,"name":"","label":"Temperatura promedio","format":"{{msg.payload}}째C","layout":"row-spread","x":600,"y":760,"wires":[]},{"id":"70970b7b.a5e334","type":"amqp in","z":"b8d47b54.0cf888","g":"45ce0380.58401c","name":"","topic":"promedio-Temperatura","iotype":"4","ioname":"mean-temperatura","server":"47ab7344.38964c","x":370,"y":760,"wires":[["487edb41.af4ae4","71fc9108.765da"]]},{"id":"7445cd4a.66e164","type":"ui_text","z":"b8d47b54.0cf888","g":"eb04686b.1f3678","group":"50f1127e.78e15c","order":4,"width":6,"height":1,"name":"","label":"Presion maxima","format":"{{msg.payload}}hPa","layout":"row-spread","x":1660,"y":560,"wires":[]},{"id":"bf074a4b.9c6908","type":"amqp in","z":"b8d47b54.0cf888","g":"eb04686b.1f3678","name":"","topic":"","iotype":"4","ioname":"max-presion","server":"47ab7344.38964c","x":1430,"y":560,"wires":[["7445cd4a.66e164","c8ddc22f.4633d"]]},{"id":"7447c37e.95fc1c","type":"ui_text","z":"b8d47b54.0cf888","g":"eb04686b.1f3678","group":"50f1127e.78e15c","order":5,"width":6,"height":1,"name":"","label":"Presion minima","format":"{{msg.payload}}hPa","layout":"row-spread","x":1660,"y":660,"wires":[]},{"id":"5305ef31.37018","type":"amqp in","z":"b8d47b54.0cf888","g":"eb04686b.1f3678","name":"","topic":"","iotype":"4","ioname":"min-presion","server":"47ab7344.38964c","x":1430,"y":660,"wires":[["7447c37e.95fc1c","753aa34c.0d237c"]]},{"id":"677e9e81.11c45","type":"ui_text","z":"b8d47b54.0cf888","g":"eb04686b.1f3678","group":"50f1127e.78e15c","order":6,"width":6,"height":1,"name":"","label":"Presion promedio","format":"{{msg.payload}}hPa","layout":"row-spread","x":1670,"y":760,"wires":[]},{"id":"e4d8ffa1.624f6","type":"amqp in","z":"b8d47b54.0cf888","g":"eb04686b.1f3678","name":"","topic":"","iotype":"4","ioname":"mean-presion","server":"47ab7344.38964c","x":1440,"y":760,"wires":[["677e9e81.11c45","4f15923a.ede10c"]]},{"id":"d844b8b7.ecec38","type":"ui_gauge","z":"b8d47b54.0cf888","g":"82195ee7.28b04","name":"","group":"50f1127e.78e15c","order":1,"width":0,"height":0,"gtype":"gage","title":"Presion Actual","label":"hPa","format":"{{value}}","min":"900","max":"1500","colors":["#0000ff","#00ff00","#ff0000"],"seg1":"","seg2":"","x":1620,"y":240,"wires":[]},{"id":"816e5356.47e0b","type":"ui_gauge","z":"b8d47b54.0cf888","g":"9b4b56a7.c602f8","name":"","group":"ed0054c9.1308e8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura Actual","label":"째C","format":"{{value}}","min":0,"max":"20","colors":["#0000ff","#00ff00","#ff0000"],"seg1":"7","seg2":"13","x":590,"y":240,"wires":[]},{"id":"d17ffec1.e2eab","type":"amqp in","z":"b8d47b54.0cf888","g":"58c2c1b7.d19c6","name":"","topic":"","iotype":"4","ioname":"prediccion-temperatura","server":"47ab7344.38964c","x":390,"y":480,"wires":[["6a8ec951.c20ee8"]]},{"id":"cb5c79d2.fcd7e8","type":"amqp in","z":"b8d47b54.0cf888","g":"41ee0085.0eff6","name":"","topic":"","iotype":"4","ioname":"prediccion-presion","server":"47ab7344.38964c","x":1450,"y":480,"wires":[["49c19627.c906e8"]]},{"id":"aa8fa125.7e01f","type":"inject","z":"b8d47b54.0cf888","g":"10ec5fd0.3604c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temperatura,8,humedad,92,presion,910","payloadType":"str","x":330,"y":1000,"wires":[["829f83c7.16386"]]},{"id":"829f83c7.16386","type":"amqp out","z":"b8d47b54.0cf888","g":"10ec5fd0.3604c","name":"","routingkey":"","iotype":"4","ioname":"mensajes","server":"47ab7344.38964c","x":520,"y":1040,"wires":[]},{"id":"8f4cd74f.2a7628","type":"inject","z":"b8d47b54.0cf888","g":"10ec5fd0.3604c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temperatura,10,humedad,93,presion,950","payloadType":"str","x":330,"y":1040,"wires":[["829f83c7.16386"]]},{"id":"28b8124b.adc7fe","type":"inject","z":"b8d47b54.0cf888","g":"10ec5fd0.3604c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temperatura,12,humedad,94,presion,999","payloadType":"str","x":330,"y":1080,"wires":[["829f83c7.16386"]]},{"id":"be870833.28b678","type":"inject","z":"b8d47b54.0cf888","g":"10ec5fd0.3604c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temperatura,20,humedad,96,presion,1101","payloadType":"str","x":330,"y":1160,"wires":[["829f83c7.16386"]]},{"id":"8bbe614f.638b3","type":"debug","z":"b8d47b54.0cf888","g":"58c2c1b7.d19c6","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":630,"y":480,"wires":[]},{"id":"50c51442.cc473c","type":"debug","z":"b8d47b54.0cf888","g":"45ce0380.58401c","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":570,"y":600,"wires":[]},{"id":"c8ddc22f.4633d","type":"debug","z":"b8d47b54.0cf888","g":"eb04686b.1f3678","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"msg","x":1650,"y":600,"wires":[]},{"id":"f7ca8711.47d328","type":"debug","z":"b8d47b54.0cf888","g":"45ce0380.58401c","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":570,"y":700,"wires":[]},{"id":"753aa34c.0d237c","type":"debug","z":"b8d47b54.0cf888","g":"eb04686b.1f3678","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1650,"y":700,"wires":[]},{"id":"4f15923a.ede10c","type":"debug","z":"b8d47b54.0cf888","g":"eb04686b.1f3678","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1650,"y":800,"wires":[]},{"id":"71fc9108.765da","type":"debug","z":"b8d47b54.0cf888","g":"45ce0380.58401c","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":570,"y":800,"wires":[]},{"id":"6a8ec951.c20ee8","type":"function","z":"b8d47b54.0cf888","g":"58c2c1b7.d19c6","name":"","func":"var msg_out={topic:\"Prediccion\", payload:0, timestamp:new Date()}\nmsg_out.payload=msg.payload.split(\",\")[0]\nmsg_out.timestamp=new Date(msg.payload.split(\",\")[1]).getTime()\nreturn msg_out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":400,"wires":[["8268ff7c.7a7ab","8bbe614f.638b3"]]},{"id":"5768ad2.3851854","type":"inject","z":"b8d47b54.0cf888","name":"Limpiar Tabla y grafica (No borra la Base de datos)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":830,"y":80,"wires":[["8268ff7c.7a7ab","3344af80.76b3","816e5356.47e0b","d844b8b7.ecec38","ef8ed96.0584e28","f3ce599e.b03388"]]},{"id":"fafbec7f.6e712","type":"function","z":"b8d47b54.0cf888","g":"bcd01bb1.aec578","name":"","func":"var msg_out={payload:\"\"}\nvar x1=\"\"\nvar x2=\"\"\nvar x3=\"\"\nif (msg.payload.split(\";\")[0].split(\",\")[0]==\"error\"){\n     x1=msg.payload.split(\";\")[0].split(\",\")[1]\n}\nif (msg.payload.split(\";\")[1].split(\",\")[0]==\"alerta\"){\n  x2=msg.payload.split(\";\")[1].split(\",\")[1]\n    \n}\nmsg_out.payload=x3.concat(x1,\";\",x2)\nreturn msg_out\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":940,"wires":[["bb10c02d.05087","64119c56.d5e5a4"]]},{"id":"d5d0bcb9.30e0d","type":"amqp in","z":"b8d47b54.0cf888","g":"bcd01bb1.aec578","name":"","topic":"","iotype":"4","ioname":"alerta-temperatura","server":"47ab7344.38964c","x":730,"y":940,"wires":[["fafbec7f.6e712"]]},{"id":"b974c6ea.a49e58","type":"ui_toast","z":"b8d47b54.0cf888","g":"bcd01bb1.aec578","position":"dialog","displayTime":"20","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":1470,"y":980,"wires":[[]]},{"id":"cb127c0f.95db8","type":"amqp in","z":"b8d47b54.0cf888","g":"bcd01bb1.aec578","name":"","topic":"","iotype":"4","ioname":"alerta-humedad","server":"47ab7344.38964c","x":720,"y":1000,"wires":[["225077da.5a5ad8"]]},{"id":"bb10c02d.05087","type":"join","z":"b8d47b54.0cf888","g":"bcd01bb1.aec578","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"/","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1150,"y":980,"wires":[["76494d21.a4efb4"]]},{"id":"76494d21.a4efb4","type":"function","z":"b8d47b54.0cf888","g":"bcd01bb1.aec578","name":"","func":"var msg_out = { payload: \"\" }\nvar dat = msg.payload.split(\"/\")\nvar dat1 = dat[0].split(\";\")\nvar dat2 = dat[1].split(\";\")\nvar dat3 = dat[2].split(\";\")\n\nvar out = \"\"\nvar x1 = '<div style=\"border: solid 1px #f00;border-radius: 4px;background-color: #fff0f5; margin: 5px; padding: 20px; font-size: 20px;\"><div style=\"display: inline-flex\"><img src=\"https://upload.wikimedia.org/wikipedia/commons/3/3b/Vista-error.png\" style=\"height: 60px\"> <h1 style=\"color: #f00; margin: auto;margin-left: 20px;\"> PELIGRO</h1></div>'\nvar x2 = '<div style=\"border: solid 1px #ffc700;border-radius: 4px;    background-color: #fffacd; margin: 5px;padding: 20px; font-size: 20px;\"><div style=\"display: inline-flex\"><img src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/OOjs_UI_icon_alert-yellow.svg/800px-OOjs_UI_icon_alert-yellow.svg.png\" style=\"height: 60px\"> <h1 style=\"color: #ffc700 ; margin: auto;margin-left: 20px;\"> ALERTA </h1></div>'\nif (dat1[0] != ''){\n    x1 = x1.concat('<li>', dat1[0], \"</li>\")\n}\nif (dat2[0] != ''){\n    x1 = x1.concat(\"<li>\", dat2[0], \"</li>\")\n}\nif (dat3[0] != ''){\n    x1 = x1.concat(\"<li>\", dat3[0], \"</li>\")\n}\nif (dat1[1] != ''){\n    x2 = x2.concat('<li>', dat1[1], \"</li>\")\n}\nif (dat2[1] != ''){\n    x2 = x2.concat(\"<li>\", dat2[1], \"</li>\")\n}\nif (dat3[1] != ''){\n    x2 = x2.concat(\"<li>\", dat3[1], \"</li>\")\n}\nif (dat1[0]!= '' || dat2[0]!= ''|| dat3[0]!= ''){\n    out=out.concat(x1,\"</div>\")\n}\nif (dat1[1]!= '' || dat2[1]!= ''|| dat3[1]!= ''){\n    out=out.concat(x2,\"</div>\")\n}\nmsg_out.payload = out\nreturn msg_out","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":980,"wires":[["b974c6ea.a49e58"]]},{"id":"64119c56.d5e5a4","type":"debug","z":"b8d47b54.0cf888","g":"bcd01bb1.aec578","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":1060,"wires":[]},{"id":"225077da.5a5ad8","type":"function","z":"b8d47b54.0cf888","g":"bcd01bb1.aec578","name":"","func":"var msg_out={payload:\"\"}\nvar x1=\"\"\nvar x2=\"\"\nvar x3=\"\"\nif (msg.payload.split(\";\")[0].split(\",\")[0]==\"error\"){\n     x1=msg.payload.split(\";\")[0].split(\",\")[1]\n}\nif (msg.payload.split(\";\")[1].split(\",\")[0]==\"alerta\"){\n  x2=msg.payload.split(\";\")[1].split(\",\")[1]\n    \n}\nmsg_out.payload=x3.concat(x1,\";\",x2)\nreturn msg_out\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":1000,"wires":[["bb10c02d.05087","64119c56.d5e5a4"]]},{"id":"dc993c41.7fc3d","type":"ui_text","z":"b8d47b54.0cf888","g":"bcd01bb1.aec578","group":"71b4593b.a7ce88","order":0,"width":"18","height":"1","name":"","label":"Autores: ","format":"Mayra Torres, Javier Casallas, Ezequiel de la Hoz ","layout":"row-spread","x":700,"y":1200,"wires":[]},{"id":"49c19627.c906e8","type":"function","z":"b8d47b54.0cf888","g":"41ee0085.0eff6","name":"","func":"var msg_out={topic:\"Prediccion\", payload:0, timestamp:new Date()}\nmsg_out.payload=msg.payload.split(\",\")[0]\nmsg_out.timestamp=new Date(msg.payload.split(\",\")[1]).getTime()\nreturn msg_out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1580,"y":400,"wires":[["3344af80.76b3","bc4dc856.0b8e78"]]},{"id":"45a3d72e.001f28","type":"inject","z":"b8d47b54.0cf888","g":"10ec5fd0.3604c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temperatura,6,humedad,85,presion,890","payloadType":"str","x":330,"y":940,"wires":[["829f83c7.16386"]]},{"id":"bc4dc856.0b8e78","type":"debug","z":"b8d47b54.0cf888","g":"41ee0085.0eff6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1690,"y":480,"wires":[]},{"id":"9ff28d7f.c91ee","type":"e-mail","z":"b8d47b54.0cf888","g":"bcd01bb1.aec578","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"Alerta Correo","x":1470,"y":1080,"wires":[]},{"id":"a7227959.ecba08","type":"comment","z":"b8d47b54.0cf888","g":"bcd01bb1.aec578","name":"","info":"# _Para poder utilizar el correo, preferiblemente usar un Gmail y Activar la opcion de aplicaciones poco seguras_","x":1460,"y":1120,"wires":[]},{"id":"798cdf61.f2b07","type":"amqp in","z":"b8d47b54.0cf888","g":"663cd42f.e4367c","name":"Humedad","topic":"Humedad","iotype":"4","ioname":"humedad","server":"47ab7344.38964c","x":900,"y":260,"wires":[["ef8ed96.0584e28","f3ce599e.b03388"]]},{"id":"ef8ed96.0584e28","type":"ui_chart","z":"b8d47b54.0cf888","g":"663cd42f.e4367c","name":"","group":"c553ddfe.888c9","order":2,"width":6,"height":6,"label":"Historico Humedad","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"70","ymax":"95","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1110,"y":280,"wires":[[]]},{"id":"f3ce599e.b03388","type":"ui_gauge","z":"b8d47b54.0cf888","g":"663cd42f.e4367c","name":"","group":"c553ddfe.888c9","order":1,"width":0,"height":0,"gtype":"gage","title":"Humedad Actual","label":"%","format":"{{value}}","min":"85","max":"100","colors":["#0005ff","#00ff00","#ff0000"],"seg1":"90","seg2":"95","x":1100,"y":240,"wires":[]},{"id":"f3478c04.c7079","type":"amqp in","z":"b8d47b54.0cf888","g":"639d9182.b9664","name":"","topic":"","iotype":"4","ioname":"prediccion-humedad","server":"47ab7344.38964c","x":940,"y":480,"wires":[["6cd69145.e6872"]]},{"id":"6cd69145.e6872","type":"function","z":"b8d47b54.0cf888","g":"639d9182.b9664","name":"","func":"var msg_out={topic:\"Prediccion\", payload:0, timestamp:new Date()}\nmsg_out.payload=msg.payload.split(\",\")[0]\nmsg_out.timestamp=new Date(msg.payload.split(\",\")[1]).getTime()\nreturn msg_out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":400,"wires":[["ef8ed96.0584e28","c0a7fc99.7a947"]]},{"id":"c0a7fc99.7a947","type":"debug","z":"b8d47b54.0cf888","g":"639d9182.b9664","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":480,"wires":[]},{"id":"239ca037.c73c2","type":"ui_text","z":"b8d47b54.0cf888","g":"cbf2224f.86d3b","group":"c553ddfe.888c9","order":4,"width":6,"height":1,"name":"","label":"Humedad maxima","format":"{{msg.payload}}%","layout":"row-spread","x":1130,"y":560,"wires":[]},{"id":"8a15f7b2.b2d4e8","type":"amqp in","z":"b8d47b54.0cf888","g":"cbf2224f.86d3b","name":"","topic":"","iotype":"4","ioname":"max-humedad","server":"47ab7344.38964c","x":920,"y":560,"wires":[["239ca037.c73c2","76a62032.cd123"]]},{"id":"b20b3c37.52736","type":"ui_text","z":"b8d47b54.0cf888","g":"cbf2224f.86d3b","group":"c553ddfe.888c9","order":5,"width":6,"height":1,"name":"","label":"Humedad minima","format":"{{msg.payload}}%","layout":"row-spread","x":1130,"y":660,"wires":[]},{"id":"e1af13b3.81d91","type":"amqp in","z":"b8d47b54.0cf888","g":"cbf2224f.86d3b","name":"","topic":"","iotype":"4","ioname":"min-humedad","server":"47ab7344.38964c","x":920,"y":660,"wires":[["b20b3c37.52736","2731633c.9782ac"]]},{"id":"3e4744dc.883e1c","type":"ui_text","z":"b8d47b54.0cf888","g":"cbf2224f.86d3b","group":"c553ddfe.888c9","order":6,"width":6,"height":1,"name":"","label":"Humedad promedio","format":"{{msg.payload}}%","layout":"row-spread","x":1130,"y":760,"wires":[]},{"id":"eeef7262.1fa67","type":"amqp in","z":"b8d47b54.0cf888","g":"cbf2224f.86d3b","name":"","topic":"","iotype":"4","ioname":"mean-humedad","server":"47ab7344.38964c","x":920,"y":760,"wires":[["3e4744dc.883e1c","bd1d570e.a7d998"]]},{"id":"76a62032.cd123","type":"debug","z":"b8d47b54.0cf888","g":"cbf2224f.86d3b","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1110,"y":600,"wires":[]},{"id":"2731633c.9782ac","type":"debug","z":"b8d47b54.0cf888","g":"cbf2224f.86d3b","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1110,"y":700,"wires":[]},{"id":"bd1d570e.a7d998","type":"debug","z":"b8d47b54.0cf888","g":"cbf2224f.86d3b","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1110,"y":800,"wires":[]},{"id":"dafc942b.460fd8","type":"amqp in","z":"b8d47b54.0cf888","name":"","topic":"","iotype":"4","ioname":"alerta-presion","server":"47ab7344.38964c","x":720,"y":1080,"wires":[["e45aa83b.c05988"]]},{"id":"e45aa83b.c05988","type":"function","z":"b8d47b54.0cf888","name":"","func":"var msg_out={payload:\"\"}\nvar x1=\"\"\nvar x2=\"\"\nvar x3=\"\"\nif (msg.payload.split(\";\")[0].split(\",\")[0]==\"error\"){\n     x1=msg.payload.split(\";\")[0].split(\",\")[1]\n}\nif (msg.payload.split(\";\")[1].split(\",\")[0]==\"alerta\"){\n  x2=msg.payload.split(\";\")[1].split(\",\")[1]\n    \n}\nmsg_out.payload=x3.concat(x1,\";\",x2)\nreturn msg_out\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":1080,"wires":[["bb10c02d.05087","64119c56.d5e5a4"]]}]